<md-card layout-fill class="card-box" style="position: relative;overflow: hidden">
    <span ng-if="getUser(rangeIndex, infiniteItemIndex)">
        <div ng-if="getUser(rangeIndex, infiniteItemIndex).isDebug" class="side-corner-tag">Debug</div>
        <md-card-header ng-if="getUser(rangeIndex, infiniteItemIndex)" style="padding-bottom: inherit;height: 50px;">
            <md-card-header-text>
                <div class="md-title ellipsis">{{getUser(rangeIndex, infiniteItemIndex).firstName}} {{rangeIndex + (infiniteItemIndex * getMediaCount())}}</div>
                <div class="md-subhead ellipsis">{{getUser(rangeIndex, infiniteItemIndex).age}}</div>
            </md-card-header-text>
            <md-button class="material-icons md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </md-card-header>
        <div ng-if="getUser(rangeIndex, infiniteItemIndex)" class="avatar-wrapper" ng-click="openUserInfo(rangeIndex + (infiniteItemIndex * getMediaCount()))">
            <img ng-if="getUser(rangeIndex, infiniteItemIndex).photoURL" ng-src="{{getUser(rangeIndex, infiniteItemIndex).photoURL}}" class="md-card-image" />
            <img ng-if="!getUser(rangeIndex, infiniteItemIndex).photoURL" class="md-card-image" />
        </div>
        <md-card-content ng-if="getUser(rangeIndex, infiniteItemIndex)" style="height: 25px;" class="ellipsis">
            {{getUser(rangeIndex, infiniteItemIndex).message}}
        </md-card-content>
    </span>
</md-card>
