<md-card layout-fill class="card-box" style="position: relative;overflow: hidden">
    <div ng-if="users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count].isDebug" class="side-corner-tag">Debug</div>
    <md-card-header  ng-if="users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count]" style="padding-bottom: inherit;height: 50px;">
        <md-card-header-text>
            <div class="md-title ellipsis">{{users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count].firstName}}{{(infiniteItem.index*rangeDetail.total) + rangeDetail.count + 1}}</div>
            <div class="md-subhead ellipsis">{{users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count].age}}</div>
        </md-card-header-text>
        <md-button class="material-icons md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet()">
            <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
    </md-card-header>
    <div ng-if="users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count]" class="avatar-wrapper" ng-click="link.goFriend(users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count])">
        <img ng-if="users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count].photoURL" ng-src="{{users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count].photoURL}}" class="md-card-image" />
        <img ng-if="!users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count].photoURL" class="md-card-image" />
    </div>
    <md-card-content ng-if="users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count]" style="height: 25px;" class="ellipsis">
        {{users[(infiniteItem.index*rangeDetail.total) + rangeDetail.count].message}}
    </md-card-content>
</md-card>
