<div flex layout layout-align="center center">
    <md-card layout-fill class="card-box" style="position: relative;overflow: hidden">
        <div ng-if="users[(index*range.total) + range.count].isDebug" class="side-corner-tag">Debug</div>
        <md-card-header style="padding-bottom: inherit;height: 50px;">
            <md-card-header-text>
                <div class="md-title ellipsis">{{users[(index*range.total) + range.count].firstName}}{{(index*range.total) + range.count}}</div>
                <div class="md-subhead ellipsis">{{users[(index*range.total) + range.count].age}} {{prefectures[users[(index*range.total) + range.count].prefectureId].name}} {{prefectures[users[(index*range.total) + range.count].prefectureId].cities[users[(index*range.total) + range.count].cityId].name}}</div>
            </md-card-header-text>
            <md-button class="material-icons md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </md-card-header>
        <div class="avatar-wrapper" ng-click="link.goFriend(users[(index*range.total) + range.count])">
            <img ng-if="users[(index*range.total) + range.count].photoURL" ng-src="{{users[(index*range.total) + range.count].photoURL}}" class="md-card-image" />
            <img ng-if="!users[(index*range.total) + range.count].photoURL" class="md-card-image" />
        </div>
        <md-card-content style="height: 25px;" class="ellipsis">
            {{users[(index*range.total) + range.count].message}}
        </md-card-content>
    </md-card>
</div>
