<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div ng-if="sessionStorage.firebaseUser">{{sessionStorage.firebaseUser.displayName}}</div>
            <div ng-if="sessionStorage.firebaseUser">{{sessionStorage.firebaseUser.email}}</div>
        </div>
    </md-toolbar>
    <md-list>
        <span ng-repeat="item in menu" ng-link="{{item.link}}">
            <md-list-item  md-ink-ripple>
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    <p>{{item.title}}</p>
            </md-list-item>
        </span>
        <md-divider></md-divider>
        <md-subheader ng-if="sessionStorage.token.isDebug">Management</md-subheader>
        <span ng-if="sessionStorage.token.isDebug" ng-repeat="item in admin" ng-link="{{item.link}}">
            <md-list-item  md-ink-ripple>
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    <p>{{item.title}}</p>
            </md-list-item>
        </span>
    </md-list>
</md-sidenav>

