<md-list-item class="md-3-line" style="width: 100%;">
    <div ng-if="getRequest(rangeIndex, infiniteItemIndex).isApplyed" class="side-corner-tag">承認済み</div>
    <div ng-if="getRequest(rangeIndex, infiniteItemIndex)" class="md-avatar" ng-click="openChatModal(getFriendInfo(rangeIndex, infiniteItemIndex))">
        <div class="avatar-wrapper" ng-click="openUserInfo(rangeIndex + (infiniteItemIndex * getMediaCount()))">
            <img ng-if="getFriend(rangeIndex, infiniteItemIndex).photoURL" ng-src="{{getFriend(rangeIndex, infiniteItemIndex).photoURL}}" class="md-card-image" />
            <img ng-if="!getFriend(rangeIndex, infiniteItemIndex).photoURL" class="md-card-image" />
        </div>
    </div>
    <div ng-if="getRequest(rangeIndex, infiniteItemIndex)" ng-click="openChatModal(getFriendInfo(rangeIndex, infiniteItemIndex))" class="md-list-item-text" layout="column">
        <h3>{{getFriend(rangeIndex, infiniteItemIndex).firstName}} {{rangeIndex + (infiniteItemIndex * getMediaCount())}}</h3>
        <h4>{{getFriend(rangeIndex, infiniteItemIndex).age}}</h4>
        <p>{{getNotify(rangeIndex, infiniteItemIndex).text}}} {{getNotify(rangeIndex, infiniteItemIndex).count}}}</p>
    </div>
    <md-button class="md-secondary md-icon-button" ng-if="(getRequest(rangeIndex, infiniteItemIndex).isApplyed) == false" ng-click="applyRequest(getRequest(rangeIndex, infiniteItemIndex))">
        <ng-md-icon icon="add"></ng-md-icon>
        <md-menu md-theme="grey" ng-if="getRequest(rangeIndex, infiniteItemIndex)" class="md-secondary">
            <md-button class="md-icon-button">
                <ng-md-icon icon="settings"></ng-md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button>
                        Redial
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        Check voicemail
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button>
                        Notifications
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-button>
</md-list-item>
