<div role="dialog" layout="column">
    <md-content class="slide-up-dialog-content" flex="" layout-padding="" style="padding-top:56px">
        description : {{locals.codeInfo.description}} </br>
        error : {{locals.error}}</br>
        <div>
            <ng-md-icon class="zoom-10" style="margin-top: 5px;" icon="directions_run"></ng-md-icon>
            </br>
            <span>セッションが切れました。</span>
        </div>
        <md-button md-no-ink class=" md-primary " ng-click="login( 'google')">Login</md-button>
    </md-content>
</div>