<div role="dialog" layout="column" ng-init="init()" md-theme="purple">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="font_white">{{user.firstName}} {{user.age}}</h2>
            <span flex=""></span>
            <md-button ng-click="cancel()" class="md-icon-button">
                <i class="md-fab material-icons">cancel</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="slide-up-dialog-content" flex style="padding-top:56px">
        <div layout="row" layout-align="center center" flex>
            <div flex flex-xs="80" flex-sm="60" flex-md="25" flex-lg="20">
                <div class="avatar-wrapper _user-profile">
                    <img ng-if="user.photoURL" ng-src="{{user.photoURL}}" class="md-card-image" />
                    <img ng-if="!user.photoURL" class="md-card-image" />
                </div>
            </div>
        </div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{user.prefectureId}} {{user.cityId}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-if="user.requested">申請中</p>
                <p>
                    {{user.message}}
                </p>
            </md-card-content>
        </md-card>
    </md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="md-toolbar-tools">
                <md-button ng-if="!user.requested" class="material-icons md-fab" aria-label="friend request" ng-click="friendRequest()">
                    <ng-md-icon icon="add"></ng-md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</div>