<div role="dialog" layout="column" layout-align="center center" layout-fill="" md-theme="grey">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="font_white">Search</h2>
            <span flex=""></span>
            <md-button ng-click="cancel()" class="md-icon-button">
                <i class="md-fab material-icons">cancel</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="slide-up-dialog-content" flex="" layout-padding="" style="padding-top:56px">
        <div layout="row" style="margin-bottom: 20px;">
            <span ng-include="'/templates/elements/userSelectPrefectures.html'" include-replace></span>
        </div>
        <md-input-container ng-repeat="(key, select) in selects" ng-hide="select.isHide" class="md-block">
            <label key="{{key}}">{{subTitles[key].read}}</label>
            <input type="{{select.type}}" ng-model="targetUserCondition[key]" type="{{type}}">
        </md-input-container>
    </md-content>
    <md-button class="md-warn md-raised full" ng-click="search()" translate="subTitle.search.read"></md-button>
</div>
