.md-button.md-fab.md-fab-bottom-right {
    position: fixed;
}

/*virtualRepeatdemoInfiniteScroll*/
.virtualRepeatdemoInfiniteScroll #vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px; }

.virtualRepeatdemoInfiniteScroll .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }

.virtualRepeatdemoInfiniteScroll md-content {
  margin: 16px; }

.virtualRepeatdemoInfiniteScroll md-virtual-repeat-container {
  border: solid 1px grey; }

.virtualRepeatdemoInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }