<script>
var recommendUsers = <%-JSON.stringify(recommendUsers)%>;
var userInfos = <%-JSON.stringify(userInfos)%>;
var requestInfos = <%-JSON.stringify(requestInfos)%>;
var useragent = <%-JSON.stringify(useragent)%>;       
</script>
<div layout="column" class="relative" layout-fill role="main" ng-init="init()">
    <md-content layout="column" flex ui-view="main"></md-content>
    <md-toolbar class="footer">
	<div class="md-toolbar-tools">
		<div class="md-toolbar-tools">
			<ul rn-carousel style="height:150px;width:100%" class="image" rn-carousel-index="carouselIndex">
				<li ng-repeat="banner in banners">
					<div class="layer" style="text-align:center">
						<img ng-src="{{banner.imageUrl}}" class="user-avatar" style="height:150px;width:150px" />
					</div>
				</li>
			</ul>
		</div>
	</div>
</md-toolbar>
</div>

<script src="/js/routes/index.js"></script>
<link rel="stylesheet" href="/css/index/index.css">
