<md-subheader class="md-primary">
	<%= message %>
	<span flex></span>
	<md-button ng-click="createUser({uid : 3, name : 'test', age : 10})" aria-label="Menu">
		<ng-md-icon icon="menu"></ng-md-icon>
	</md-button>
    <md-button ng-click="findUser(9)" aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
</md-subheader>
