<script>
var recommendUsers = <%-JSON.stringify(recommendUsers)%>;
var userInfos = <%-JSON.stringify(userInfos)%>;
var requestInfos = <%-JSON.stringify(requestInfos)%>;
</script>
<div layout="column" class="relative" layout-fill role="main" ng-init="init()">
    <md-content layout="column" flex ui-view="main"></md-content>
</div>
<script src="/js/routes/index.js"></script>
<link rel="stylesheet" href="/css/index/index.css">
