<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Server</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://localhost:8888/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket, emit;
      (function(){
          socket = io.connect("http://localhost:8888");
          emit = function (name, data){
              // json → 文字列に変換して送信する関数
              socket.emit(name, JSON.stringify(data));
          }
      })();
      window.onload = function(){
          var sendBtn = document.getElementById('send');
          sendBtn.addEventListener("click", function(){
              emit('message', {text: message.value});
          });
          socket.on('receiveMessage', function(d){
              var data = JSON.parse(d), // 文字列→JSON
                  li = document.createElement('li'), // liタグ作成
                  list = document.getElementById('messageList'); // ulタグの取得
              li.textContent = data.text; // liタグに値を入れる
              list.appendChild(li); // ulタグの子ノードとして作成したliタグを追加
          });
      };
    </script>
  </head>
  <body>
    <textarea id="message" rows="4" cols="40"></textarea>
    <button type="button" id="send">Send</button>
    <ul id="messageList"></ul>
    <%- body %>
  </body>
</html>