<!doctype html>
<html lang="en" ng-app="StarterApp">

<head>
    <title>Socket.IO chat</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="pink" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#4285f4">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4285f4">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">
    <link rel="stylesheet" href="/css/angular-material.css">
    <link rel="stylesheet" href="/css/material_icon.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/firebase/firebase.js"></script>
<!--     <script src="/js/loadsh/lodash.min.js"></script> -->
    <script src="/js/firebase/angularfire.min.js"></script>
    <script src="/js/angular/angular-route.min.js"></script>
    <script src="/js/angular/angular-ui-router.js"></script>
    <script src="/js/angular/angular-resource.min.js"></script>
    <script src="/js/angular/angular-animate.min.js"></script>
    <script src="/js/angular/angular-aria.min.js"></script>
    <script src="/js/angular/angular-material.min.js"></script>
     <script src="/js/angular/angular-cookies.min.js"></script>
     <script src="/js/angular/angular-translate.js"></script>
     <script src="/js/angular/storage-cookie.js"></script>
    <script src="/js/angular/angular-material-icons.min.js"></script>
    <script src="/js/angular/ngStorage.min.js"></script>
    <script src="/js/angular/loader-static-files.js"></script>
    <script src="/js/angular/angular-translate-storage-local.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/configs/base.js"></script>
    <script src="/js/filters/base.js"></script>
    <script src="/js/services/base.js"></script>
    <script src="/js/directives/base.js"></script>
    <script src="/js/services/firebase.js"></script>
    <script src="/js/controllers/base.js"></script>

</head>

<body layout="row" ng-controller="AppCtrl" ng-cloak>
     <span ng-include="'/templates/sidenav.html'" include-replace></span>
     <%- body %>
    <script id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.14.3.js'><\/script>".replace("HOST", location.hostname));
    //]]></script>
</body>

</html>
