<!doctype html>
<html lang="en" ng-app="StarterApp">
  <head>
    <title>Socket.IO chat</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="pink" />
    <link rel="stylesheet" href="build/main.css?v=1.1.77">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#4285f4">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4285f4">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">
    <link rel="stylesheet" href="/css/angular-material.css">
    <style>
/*      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }*/
    </style>
  </head>
  <body layout="row" ng-controller="AppCtrl">
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-2">
          <span flex></span>
          <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>Firstname Lastname</div>
            <div>email@domainname.com</div>
          </div>
        </md-toolbar>
        <md-list>
        <md-item ng-repeat="item in menu">
          <a>
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
              </div>
              <div class="inset">{{item.title}}
              </div>
            </md-item-content>
          </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader>Management</md-subheader>
        <md-item ng-repeat="item in admin">
          <a>
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
              </div>
              <div class="inset">{{item.title}}
              </div>
            </md-item-content>
          </a>
        </md-item>
      </md-list>
      </md-sidenav>
      <div layout="column" class="relative" layout-fill role="main">
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
        <md-toolbar ng-show="!showSearch">
          <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
              <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
              Dashboard
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
              <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
              <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content flex md-scroll-y>
          <%- body %>
          <ul id="messages"></ul>
        </md-content>
      </div>

      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script src="/js/angular/angular.min.js"></script>
      <script src="/js/angular/angular-animate.min.js"></script>
      <script src="/js/angular/angular-aria.min.js"></script>
      <script src="/js/angular/angular-material.min.js"></script>
      <script src="/js/angular/angular-material-icons.min.js"></script>
      <script src="/js/main.js"></script>
  </body>
</html>